# Node modules
node_modules/

# Cypress folders
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Cypress configuration files
cypress.json
cypress.env.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
